@function get-surface($weight) {
    @return tint-color($BG_COLOUR, $weight);
}

body {
    background-color: $BG_COLOUR;
    color: white;
}

.page-container {
    background-color: get-surface(7%);
}


