<div class="d-inline-flex flex-column">
  <% if game.discount > 0 %>
    <div>
      <del><%= "#{t('currency')}%.2f" % game.price %></del>
      <span><%= " -#{game.discount}%" %></span>
    </div>
  <% end %>
  <div class="align-self-end">
    <strong><%= "#{t('currency')}%.2f" % game.calculate_price %></strong>
  </div>
</div>