<div class="d-inline-flex flex-column">
  <% if sale && (game.discount > 0) %>
    <div>
      <del><%= format_price(game.price) %></del>
      <%= " -#{game.discount}%" %>
    </div>
  <% end %>
  <strong class="align-self-end"><%= format_price(game.calculate_price) %></strong>
</div>