nav.navbar {
    background-color: get-surface(7%);
    border-width: 5px;
    border-color: black;
}

a.nav-link {
    color: white;
    &:hover {
        color: $ACCENT_COLOUR;
    }
}

.nav-item.dropdown {
    .dropdown-menu{
        background-color: get-surface(10%);
        .dropdown-item {
            color: white;
            &:hover {
                color: $ACCENT_COLOUR;
            }
        }
        .dropdown-divider {
            color: white;
        }
    }
}